/*Reset css*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:focus, a:hover {
    text-decoration: none !important;
}
b, strong {
    font-weight: bold;
}
/*End Reset css*/
body {
    line-height: 24px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background: #fff;
    color: #666;
    margin-bottom: 0;
}

#page {
    overflow-x: hidden;
}

/*----------------------------------------------------------Header----------------------------------------------------*/

.site-header {
    background: #100000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
    height: 79px;
}

.site-header.fixed_header {
    padding: 0;
    background: #1e1e1d;
}

#logo {
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    max-width: 196px;
    padding: 0;
    margin-left: 0;
    height: 70px;
}

#logo > img {
    width: auto;
    height: 100%;
    display: block;
}

@media (max-width: 991.98px) {
    #logo {
        height: 60px;
        width: auto;
    }
}
#bs-primary-navbar-collapse {
    margin-top: 0;
}

.site-header-navbar {
    background-color: transparent;
    border: none transparent;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
    height: auto;
}

#primary-menu::after {
    content: "";
    display: table;
    clear: both;
}

#primary-menu .menu-item {
    display: inline-grid;
    position: relative;
    padding: 0 9px;
}

#primary-menu > .menu-item > a {
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
    padding: 24px 0;
    text-transform: uppercase;
}

#primary-menu > .menu-item > a::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #edc14f;
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

#primary-menu > .menu-item > a:hover::before {
    opacity: 1;
    visibility: visible;
}

#primary-menu > .menu-item:hover > a {
    color: #ddd !important;
}

#primary-menu > .menu-item:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

#primary-menu .sub-menu {
    position: absolute;
    width: 250px;
    padding: 10px 0;
    margin-left: 0;
    background: rgba(0, 0, 0, 0.85);
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 9999;
    transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    transform: translateY(50%);
}

#primary-menu .sub-menu li {
    width: 100%;
    clear: both;
    padding: 0;
    position: relative;
    display: inline-block;
}

#primary-menu .sub-menu li a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 8px 15px;
    font-weight: normal;
    text-transform: uppercase;
}

#primary-menu li .sub-menu li:hover > a {
    color: #edc14f;
}

#primary-menu li .sub-menu li:hover ul.sub-menu {
    left: 100%;
    visibility: visible;
    opacity: 1;
}

#primary-menu li .sub-menu ul.sub-menu {
    position: absolute;
    left: 120%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
}

.close-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 8;
}

.menu-item span.toggle-sub-menu {
    display: none;
}

@media (min-width: 992px) {
    .navbar-toggle {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-toggle {
        display: block;
    }

    .site-header {
        background: transparent;
    }

    #wrap-primary-menu {
        height: 100vh;
    }

    .site-header-navbar {
        padding-top: 0
    }

    .site-header-navbar .navbar-header {
        background-color: #100000;
        padding-left: 15px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 77px;
    }

    .site-header-navbar .container {
        width: 100%;
        padding: 0;
    }

    #bs-primary-navbar-collapse {
        padding: 0;
        height: 100vh;
        display: block;
        border: none;
        box-shadow: none;
        -webkit-box-shadow: none;
        position: fixed;
        top: 77px;
        bottom: 0;
        width: 260px;
        overflow-y: auto;
        border-right: 1px solid #ddd;
        background-color: #100000;
        overflow-x: hidden;
        -webkit-transition: -webkit-transform .3s ease;
        -moz-transition: -moz-transform .3s ease;
        -o-transition: -o-transform .3s ease;
        transition: transform .3s ease;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    #bs-primary-navbar-collapse.open {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .close-menu.open {
        display: block;
    }

    #primary-menu .menu-item {
        padding: 0;
        position: relative;
        overflow: hidden;
        display: block;
    }

    #primary-menu li a:before {
        content: none !important;
    }

    #primary-menu li a:hover {
        text-decoration: none;
        background: #3d3d3d;
        color: #ddd !important;
    }

    #primary-menu > .menu-item {
        border-bottom: 1px solid #ddd;
    }
    #primary-menu li .sub-menu li:hover > a {
        color: #ddd;
    }

    #primary-menu > .menu-item > a {
        padding: 14px 10px;
        color: #ddd;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
    }

    #primary-menu .sub-menu li {
        display: block;
    }

    #primary-menu .sub-menu li a {
        padding: 14px 10px 14px 20px;
        color: #ddd;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
    }

    #primary-menu li, #primary-menu li a {
        width: 100%;
        display: block;
    }

    #primary-menu > .menu-item > .sub-menu,
    #primary-menu > .menu-item:hover > .sub-menu {
        visibility: hidden;
        opacity: 0;
        transform: translateY(0);
    }

    #primary-menu li .sub-menu li ul.sub-menu,
    #primary-menu li .sub-menu li:hover ul.sub-menu {
        left: 0;
        max-height: 0;
        visibility: hidden;
        opacity: 0;
    }

    #primary-menu .sub-menu {
        padding: 0;
        margin: 0;
        max-height: 0;
        display: block;
        visibility: hidden;
        opacity: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        transform: none;
        background: #100000;
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    span.toggle-sub-menu, span.toggle-sub-menu .fa-minus {
        display: none;
    }

    .menu-item-has-children > span.toggle-sub-menu {
        display: block;
        position: absolute;
        top: 0;
        padding: 15px 30px !important;
        right: 0;
        z-index: 1;
        cursor: pointer;
        color: #ddd !important;
    }

    ul.sub-menu.sub-menu-active li {
        border-top: 1px solid #ddd;
    }

    .ul.sub-menu.sub-menu-active .ul.sub-menu.sub-menu-active {
        position: relative;
        left: 0;
        top: 0;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    #primary-menu li .sub-menu ul.sub-menu {
        position: relative;
        left: 0;
        top: 0;
        opacity: 0;
        visibility: hidden;
        transform: translateY(0);
    }

    #primary-menu li .sub-menu ul.sub-menu a {
        padding-left: 30px;
    }

    .sub-menu-active {
        max-height: 500px !important;
        visibility: visible !important;
        opacity: 1 !important;

    }


}

@media (max-width: 767.98px) {
    .site-header-navbar .navbar-header {
        margin: 0;
    }
    #bs-primary-navbar-collapse {
        left: 15px;
    }
}

/*--------------------------------------------------------End Header--------------------------------------------------*/

/*-----------------------------------------------------Home Carousel---------------------------------------------------*/
.primary-carousel {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
    height: 0;
    padding-bottom: 46%;
}

.primary-carousel .owl-item.active {
    height: 100%
    width: 100% !important;
    max-width: 1920px;
}

.primary-carousel .owl-item .item {
    height: 0;
    padding-bottom: 46%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.primary-carousel .owl-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    object-fit: cover;
}

.primary-carousel .owl-dots {
    margin-top: 10px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.primary-carousel .owl-dots .owl-dot span {
    background: rgba(255, 255, 255, 0.8) !important
}

.primary-carousel .owl-dots .owl-dot.active span,
.primary-carousel .owl-dots .owl-dot:hover span {
    background: #edc14f !important;
}

.primary-carousel .owl-prev, .primary-carousel .owl-next {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    border: 1px solid black;
}

.primary-carousel .owl-prev {
    left: 15px;
}

.primary-carousel .owl-next {
    right: 15px;
}

@media(max-width: 991.98px) {
    .primary-carousel {
        margin-top: 77px;
        padding-bottom: 0;
        height: auto;
    }
    .primary-carousel .owl-stage-outer {
        padding-bottom: 45.35%;
        height: 0;
        position: relative;
    }
    .primary-carousel .owl-nav{
        margin-top: 0 !important;
    }
    .primary-carousel .owl-item .item {
        padding-bottom: 45.35%;
    }
    .primary-carousel .owl-dots {
        height: 70px;
        overflow: hidden;
        box-sizing: border-box;
        margin-top: 0 !important;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 30px 0;
        -webkit-transform: initial;
        -moz-transform: initial;
        -o-transform: initial;
        transform: initial;
    }
    .primary-carousel .owl-dots .owl-dot span {
        background: #edebeb !important;
    }
    .primary-carousel .owl-prev, .primary-carousel .owl-next {
        top: 35%;
        -webkit-transform: translateY(-35%);
        -moz-transform: translateY(-35%);
        -o-transform: translateY(-35%);
        transform: translateY(-35%);
    }
}

/*------------------------------------------------------End Home Carousel----------------------------------------------*/

/*--------------------------------------------------------Menu Second--------------------------------------------------*/
#wrap-second-menu {
    padding: 15px 0;
}

#wrap-second-menu::after, #second-menu::after {
    content: '';
    display: table;
    clear: both;
}

#second-menu {
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    display: block;
    margin-left: auto;
    width: 100%;
    margin-right: auto;
}

#second-menu li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    margin: 10px 0;
    width: 16.33%;
}

#second-menu li a span {
    color: #666;
    line-height: 1;
    margin-top: 5px;
}

#second-menu li:hover a span {
    color: #edc14f;
}

#second-menu li a img {
    display: table;
    margin: 0 auto;
    max-width: 61px;
    padding-bottom: 0;
}

@media (max-width: 767.98px) {
    #second-menu {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 575.98px) {
    #second-menu {
        padding-left: 0;
        padding-right: 0;
    }
    #second-menu li {
        width: 33.33%;
    }
}

/*-------------------------------------------------------End Menu Second-----------------------------------------------*/


/*--------------------------------------------3. Bộ sưu tập nội thất - Mộc Lê Gia--------------------------------------*/
.home-collect {
    padding: 60px 0px;
    background: #100000;
}
.wrap-h1-title {
    display: block;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.wrap-h1-title::after {
    content: '';
    display: table;
    clear: both;
}
.h1-title {
    display: block;
    font-size: 28px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #fff;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 30px;
    position: relative;
}
.h1-title::after {
    position: absolute;
    content: "";
    bottom: -35px;
    left: 0;
    right: 0;
    max-width: 225px;
    width: 100%;
    height: 1px;
    background: #edc14f;
    margin: 0 auto;
}

.home-collect__description {
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
}
.home-collect__description, .home-collect__description p {
    position: relative;
    width: max-content;
    min-height: 23px;
    text-align: center;
    max-width: 100%;
    color: #fff;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.home-collect__description::before {
    content: url(/wp-content/themes/moc-le-gia/assets/images/icon/icon_start.png);
    position: absolute;
    top: 0;
    left: 0;
}
.home-collect__description::after {
    content: url(/wp-content/themes/moc-le-gia/assets/images/icon/icon_end.png);
    position: absolute;
    top: 0;
    right: 0;
}
.home-collect .col {
    padding-left: 12px;
    padding-right: 12px;
}
.home-collect__product-top {
    height: auto;
    position: relative;
    padding-bottom: 98.50%;
    overflow: hidden;
}
.home-collect__product-top .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home-collect__product-top .image::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.4);
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
    z-index: 1;
}

.home-collect__product-top::after {
    content: url(/wp-content/themes/moc-le-gia/assets/images/hover/before_images.png);
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.home-collect__product:hover .home-collect__product-top::after {
    visibility: visible;
    opacity: 1;
    top: 50%;
}
.home-collect__product-top .image img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 100%;
}


.home-collect__product-top .info {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -moz-transform: translateY(-45%);
    -o-transform: translateY(-45%);
    transform: translateY(-45%);
    left: 0;
    width: 100%;
    height: auto;
    display: block; 
    text-align: center;
    z-index: 1;
}
.home-collect__product-top .info .title {
    font-size: 20px;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
    text-align: center;
}
.home-collect__product-top .info .link {
    text-align: center;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    padding: 5px 10px;
    color: #fff;
    border: 1px solid #edc14f;
    cursor: pointer;
    margin: 0 auto;
}
.home-collect__product-bottom .sub-title {
    font-size: 16px;
    padding: 0px;
    margin: 20px 0px 20px 0px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    display: block;
    text-align: center;
}
.home-collect__product-bottom .description {
    font-size: 13px;
    color: #cccccc;
    line-height: 20px;
}
@media (max-width: 991.98px) and (min-width: 768px) {
    .home-collect .col {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }
}

@media (max-width: 767.98px) {
    .home-collect .col:not(:first-child) {
        margin-top: 40px;
    }
}
    
/*--------------------------------------------3. Bộ sưu tập nội thất - Mộc Lê Gia end----------------------------------*/


/*--------------------------------------------4. Sản phẩm--------------------------------------------------------------*/
.wrap-home-product {
    max-width: 1920px;
    margin: 0 auto;
    display: block;
    position: relative;
}
.home-product {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: nowrap;
    -ms-justify-content: space-between;
    justify-content: space-between;
}
.home-product-first {
    position: relative;
    width: 33%;
    display: block;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #222222;
}
.home-product-first img {
    margin: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
.home-product-first .info {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-product__info {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home-product-item:hover .home-product__img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
.home-product__img {
    margin: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    -webkit-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
.home-product__link {
    text-transform: uppercase;
    color: #fff !important;
    padding: 5px;
    font-size: 20px;
    line-height: 25px;
    position: relative;
    margin: 0;
    display: block;
    text-align: center;
    font-weight: 700;
}
.home-product__link::before {
    pointer-events: none;
    content: '';
    position: absolute;
    border: #edc14f solid 2px;
    top: -16px;
    right: -16px;
    bottom: -16px;
    left: -16px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: top, right, bottom, left;
    transition-property: top, right, bottom, left;
}
.home-product-item {
    overflow: hidden;
}
.home-product-item:hover .home-product__link::before {
    opacity: 1;
    visibility: visible;
    top: -6px;
    right: -6px;
    bottom: -6px;
    left: -6px;
}
.home-product__title {
    color: #fff;
    margin-top: 8px;
    display: block;
}
.home-product-second {
    position: relative;
    width: 100%;
    /*display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-flow: column;*/
}
.home-product-second_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home-product-second_top1 {
    border-right: 1px solid #fff;
}
.home-product-second_top1, .home-product-second_top2 {
    width: 50%;
    display: block;
    float: left;
    border-bottom: 1px solid #fff;
    position: relative;
}
.home-product-second_bottom {
    width: 100%;
   /* position: relative;*/
}
 .home-product-second_top1, .home-product-second_top2 {
    max-height: 588px;
    overflow: hidden;
}
.home-product-second_bottom {
    display: flex;
    align-self: center;
    justify-content: space-between;
}
.home-product-second_bottom .home-product-item:first-child {
    width: 60%;
    display: block;
    position: relative;
    max-height: 588px;
    overflow: hidden;
    border-right: 1px solid #fff;
}
.home-product-second_bottom .home-product-item:last-child {
    width: 40%;
    display: block;
    position: relative;
    max-height: 588px;
    overflow: hidden;
}

    
@media(max-width: 767.98px) and (min-width: 576px) {
    .home-product__link {
        font-size: 14px;
        line-height: 1.2;
    }
    .home-product__title {
        margin-top: 5px;
        line-height: 1.2;
    }
}

@media(max-width: 575.98px) {
    .home-product {
        display: block;
    }
    .home-product-second {
        width: 100%;
    }
    .home-product-second_top {
        display: block;
        position: relative;
    }
    .home-product-item {
        width: 100%;
        height: 200px;
    }
    .home-product__img {
        height: 100%;
    }
    .home-product-second_bottom {
        display: block !important;
        position: relative;
    }
    .home-product-second_bottom::after,
    .home-product-second_top::after {
        display: table;
        content: "";
        clear: both;
    }
    
    .home-product-second_bottom .home-product-item:first-child {
        width: 100% !important;
    }
    .home-product-second_bottom .home-product-item:last-child {
        width: 100% !important;
    }
}
/*--------------------------------------------4. Sản phẩm end----------------------------------------------------------*/


/*--------------------------------------------5. Tin tức---------------------------------------------------------------*/
.wrap-home-carousel-news {
    background: #100000;
    padding: 60px 0;
}
.wrap-home-carousel-news  .wrap-title {
    margin-bottom: 60px;
}
.wrap-home-carousel-news .title {
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    padding: 0px 0px 11px 0px;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
}
.wrap-home-carousel-news .title::after {
    width: 25%;
    max-width: 285px;
    left: 50%;
    -webkit-transition: translateX(-50%);
    -moz-transition: translateX(-50%);
    -o-transition: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    content: "";
    bottom: -10px;
    height: 1px;
    background: #edc14f;
    margin: 0 auto; 
}
.home-carousel-news{
    margin-bottom: 40px;
}
.home-carousel-news::after {
    position: absolute;
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #464444;
    bottom: -40px;
    left: 0;
}


.home-carousel-news__image {
    width: 45%;
    display: block;
    float: left;
}
.home-carousel-news__image img {
    width: 256px;
    height: 175px;
    object-fit: cover;
}
.home-carousel-news__info {
    width: 55%;
    display: block;
    float: left;
    padding-left: 15px;
}
.home-carousel-news__info > a {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    font-weight: 600;
}
.home-carousel-news__info > a:hover {
    color: #edc14f !important;
}
.home-carousel-news__info .excerpt {
    margin: 10px 0 0 0;
    font-size: 14px;
    line-height: 22px;
    color: #cccccc;
    max-width: 300px;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.home-carousel-news .owl-prev, .home-carousel-news .owl-next {
    width: 33px;
    height: 33px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    border: 1px solid black;
}

.home-carousel-news .owl-prev {
    left: -35px;
}

.home-carousel-news .owl-next {
    right: -35px;
}
@media (max-width: 991.98px) {
    .home-carousel-news__image {
        width: 100%;
    }
    .home-carousel-news__info {
        width: 100%;
        padding-left: 0;
        margin-top: 10px;
    }
    .home-carousel-news__info .excerpt {
        max-width: 100%;
    }
    /*.home-carousel-news .owl-prev, .home-carousel-news .owl-next {
        display: none !important;
    }*/
    .home-carousel-news .owl-prev, .home-carousel-news .owl-next {
        position: relative;
    }
    .home-carousel-news .owl-nav {
        margin-top: 35px;
    }
    .home-carousel-news .owl-next {
        right: 0;
    }
    .home-carousel-news .owl-prev {
        left: 0;
    }
}


/*--------------------------------------------5. Tin tức end ----------------------------------------------------------*/

/*--------------------------------------------6. Home Video -----------------------------------------------------------*/
.wrap-home-videos {
    background: #100000;
    position: relative;
}
.wrap-home-videos .wrap-title {
    margin-bottom: 60px;
}
.wrap-home-videos .h2-title {
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    padding: 0px 0px 11px 0px;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
}
.wrap-home-videos .h2-title::after {
    width: 25%;
    max-width: 285px;
    left: 50%;
    -webkit-transition: translateX(-50%);
    -moz-transition: translateX(-50%);
    -o-transition: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    content: "";
    bottom: -10px;
    height: 1px;
    background: #edc14f;
    margin: 0 auto; 
}
.wrap-home-videos .border {
    margin-top: 30px;
    display: block;
    height: 1px;
    width: 100%;
    border-bottom: 1px solid #464444;
}
.home-video__top {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.home-video__top img {
    height: auto;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.home-video__top iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto; 
    z-index: 0;
}
.home-video__top_start-video {
    position: absolute;
    top: 50%;
    padding: 0px;
    left: 50%;
    opacity: 1;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}
.home-video__top_start-video  img {
    width: 64px;
    height: 64px;
    display: block;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.home-video__bottom {
    margin-top: 10px;
    margin-bottom: 20px;
}
.home-video__bottom::after {
    content: "";
    clear: both;;
    display: table;
}
.home-video__bottom img {
    display: block;
    float: left;
}
.home-video__bottom > p {
    padding-left: 10px;
    font-size: 14px;
    line-height: 1.2;
    color: #cccccc;
    font-style: italic;
    display: block;
    float: left;
    width: calc(100% - 32px);
}

/*--------------------------------------------6. Home Video end---------------------------------------------------------*/

/*--------------------------------------------6. Home Customer ---------------------------------------------------------*/

.wrap-home-client {
    padding-top: 60px;
    padding-bottom: 30px;
    background: #100000;
    position: relative;
}
.wrap-home-client .wrap-title {
    margin-bottom: 60px;
}
.home-carousel-client .owl-stage-outer {
    padding-top: 35px;
}

.wrap-home-client .h2-title {
    font-size: 24px;
    line-height: 25px;
    color: #fff;
    padding: 0px 0px 11px 0px;
    margin: 0px 0px 30px 0px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
}
.wrap-home-client .h2-title::after {
    width: 25%;
    max-width: 285px;
    left: 50%;
    -webkit-transition: translateX(-50%);
    -moz-transition: translateX(-50%);
    -o-transition: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    content: "";
    bottom: -10px;
    height: 1px;
    background: #edc14f;
    margin: 0 auto;
}
.home-client__item {
    padding: 7px;
}
.home-client__item .testimonial_detail {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}
.home-client__preview {
    opacity: 0.7;
    border-top-left-radius: 30px;
    overflow: hidden;
    border-bottom-right-radius: 30px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
}



.home-client__preview img {
    object-fit: cover;
    width: 285px;
    height: 280px;
    display: block;
}
/*.home-carousel-client .owl-stage-outer .owl-item .home-client__item {
    transform: scale(1);
}*/
/*.home-carousel-client .owl-stage-outer .owl-item.active.center .home-client__item {
    transform: scale(1);
}*/
.testimonial_detail {
    margin-top: 45px;
}
.home-carousel-client .owl-item.active.center {
    z-index: 1;
}
.home-carousel-client .owl-item.active.center .testimonial_detail {
    opacity: 1;
    visibility: visible;
}
.home-carousel-client .owl-item.active.center .home-client__preview {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    z-index: 1;
    opacity: 1;
}

.home-client__link-title {
    font-size: 16px;
    color: #fff !important;
    font-weight: 600;
    display: block;
    text-align: center;
    margin: 0px -100px 10px -100px;
}
.home-client__link-title:hover {
    color: #edc14f !important;   
}

.home-client__exceprt {
    font-size: 16px;
    line-height: 20px;
    color: #cccccc;
    text-align: center;
    max-width: unset;
    margin: 0px -100px 0px -100px;
}
.home-carousel-client .owl-nav button {
    width: 30px;
    height: 30px;
}

@media (max-width: 575.98px) {
    .home-carousel-client .owl-item.active.center .home-client__preview {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
    .home-carousel-client .owl-stage-outer {
        padding-top: 0;
    }
    .testimonial_detail {
        margin-top: 25px;
    }
    .home-client__link-title {
        margin: 0 0 10px 0;
    }
    .home-client__exceprt {
        margin: 0;
    }
}
/*--------------------------------------------6. Home Video end---------------------------------------------------------*/

/*--------------------------------------------6. Home Contact form-------------------------------------------------------*/
/*Contact from*/

#home-wrap-contact-form {
    background-color: rgba(40, 39, 61, 1);
    background-origin: content-box;
    background-size: cover;
    background-attachment: scroll;
    background-position: top left;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    backface-visibility: hidden;
}

.home-contact-form-title {
    width: 100%;
    display: block;
    font-size: 20px;
    color: #4c4c4c;
    font-weight: 700;
    letter-spacing: 3px;
}

.home-contact-form-right-des {
    color: #fff;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    margin-top: 5px;
    padding-bottom: 20px;
    text-align: center;
}

#home-contact-form-right-frm {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

#home-contact-form-right-frm input {
    border: none;
    margin-bottom: 8px;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: 15px;
    width: 100%;
    height: 38px;
}

.wpcf7-form-control.wpcf7-submit {
    margin-bottom: 0;
    text-transform: uppercase;
}

#home-wrap-contact-form .home-contact-form-title {
    color: #fff;
    text-align: center;
}

#home-wrap-contact-form > .container > .row > div {
    padding: 40px !important;
}

@media (min-width: 1200px) {
    #home-wrap-contact-form > .container > .row > div {
        padding: 40px 350px !important;
    }
}

@media(max-width: 767.98px) {
    #home-wrap-contact-form > .container > .row > div {
        padding: 40px 12px !important;
    }
    #home-contact-form-right-frm {
        max-width: 90%;
    }
}

div.wpcf7 {
    margin: 0;
    padding: 0;
}

div.wpcf7-response-output {
    margin: 2em .5em 1em;
    padding: .2em 1em;
}

div.wpcf7 .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
}

.wpcf7-form-control-wrap {
    position: relative;
}

.wpcf7-display-none {
    display: none;
}

/*--------------------------------------------6. Home Contact Form end----------------------------------------------------*/


/*========================================Footer========================================*/
footer {
    background-color: #100000;
    color: #999;
    font-size: 14px;
    padding-top: 20px;
}

.footer_widget_title {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    min-height: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer .widget p {
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 10px;
}

footer .widget a {
    color: #999;
}
footer .widget a:hover {
    color: #fff;
}
.footer_top ul li {
    list-style-type: none;
}

.footer_top .footer_widget_link ul,
.footer_top .footer_widget_support ul {
    padding-left: 1em;
}

.footer_top .footer_widget_link ul li:before,
.footer_top .footer_widget_support ul li:before {
    content: "\f0da";
    font: normal normal normal 14px/1 FontAwesome;
    padding-right: 5px;
    position: relative;
    top: -2px;
}

.footer_top .textwidget .social a {
    color: #999;
    display: inline-block;
    padding: 2px 10px;
}

.footer_bottom {
    margin-bottom: 10px;
    margin-top: 30px;
}

.footer_bottom ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

.footer_bottom ul li {
    list-style-type: none;
    float: left;
    text-align: center;
    width: calc(100% / 8);
    margin-top: 10px;
}

.footer_widget_newspapers ul {
    margin-bottom: 0;
}

.footer_widget_newspapers ul::after {
    content: "";
    display: table;
    clear: both;
}

.footer_widget_newspapers ul li {
    float: left;
    margin-bottom: 5px;
}

.footer_widget_newspapers ul li::after,
.footer_widget_newspapers ul li a::after {
    content: "";
    display: table;
    clear: both;
}

.footer_widget_newspapers ul li a img {
    height: 36px;
    width: auto;
    padding: 5px;
}


.copyright {
    padding: 15px 0;
    border-top: 1px solid #2f1d0a;
    text-align: center;
}
.footer_top .col-footer:nth-child(1) {
    width: 35%;
}
.footer_top .col-footer:nth-child(2) {
    width: 22%;
}
.footer_top .col-footer:nth-child(3) {
    width: 21%;
}
.footer_top .col-footer:nth-child(4) {
    width: 22%;
}

@media (max-width: 991.98px) {
    .footer_top .col-footer:nth-child(1) {
        width: 100%;
    }
    .footer_top .col-footer:nth-child(2) {
        width: 100%;
    }
    .footer_top .col-footer:nth-child(3) {
        width: 100%;
    }
    .footer_top .col-footer:nth-child(4) {
        width: 100%;
    }
    .footer_widget_title {
        margin: 0px;
        padding: 10px 0;
        min-height: 40px;
    }

    .footer_top .col-footer {
        padding: 2px 10px;
        border-bottom: 1px solid #5f3811;
    }

    .col-footer .textwidget {
        display: none;
    }

    .footer_widget_newspapers {
        display: none;
    }

    .footer_widget_name p:first-child {
        display: none;
    }

    .footer_widget_link .textwidget {
        margin-bottom: 5px;
    }

    .footer_top .textwidget a::after {
        content: "";
        clear: both;
        display: none;
    }

    .footer_bottom {
        margin-top: 10px;
    }
}


@media (max-width: 767.98px) {
    .footer_bottom ul {
        display: block;
    }
    .footer_bottom {
        margin-top: 0;
    }
    .footer_bottom ul li {
        width: 25%;
        display: inline-block;
        max-height: 68px;
    }

    .footer_bottom ul li img {
        max-width: 100%;
        height: auto;
    }
    .copyright {
        margin-bottom: 0;
    }
}

@media (max-width: 575.98px) {
    .footer_bottom ul li {
        height: 52px;
    }
}

/*========================================end footer========================================*/
/*
back to top*/
.back-to-top {
    position: fixed;
    bottom: 100px;
    right: 30px;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 19px;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 0;
}

.back-to-top img {
    width: 100%;
    height: auto;
}

/*support*/

/*support*/
.support {
    position: fixed;
    bottom: 15%;
    right: -170px;
    z-index: 100;
}

.support-item {
    width: 220px;
    margin-bottom: 5px;
    border-radius: 99px 0 0 99px;
    padding: 5px;
    font-size: 120%;
    transition-duration: 1s !important;
}
.support-item a {
    color: #fff;
    height: 40px;
    display: block;
}
.support-item a:hover, .support-item a:hover span {
    text-decoration: underline !important;
}
.support-item a span {
    margin-top: 9px;
    margin-left: 10px;
    float: left;
    display: block; 
}


.support-item img {
    border-radius: 100%;
    padding-right: 10px;
    width: 50px;
    display: block;
    float: left;
}

.support-item:hover {
    margin-left: -170px !important;
    transition-duration: 1s !important;
}

@media (max-width: 767.98px) {
      .support {
        position: fixed;
        top: auto;
        right: 0;
        z-index: 9999;
        width: 100%;
        bottom: 0;
        height: 41px;
    }
    .support-item {
        border-radius: 0;
        padding: 5px;
        font-size: 0;
        transition-duration: 1s !important;
        float: left;
        width: 25%;
        margin-bottom: 0px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .support-item a {
        margin-left: auto;
        margin-right: auto;
        display: block;
        height: 40px;
    }
    .support-item, .support-item:hover {
        margin-left: 0 !important;
        transition-duration: initial !important;
    }

    .support-item:nth-child(2) {
        width: 50%;
    }

    .support-item img {
        width: 100%;
        height: auto;
        display: block;
        max-width: 40px;
        float: initial;
    }
}

/*modal quick view product*/
.modal {
    text-align: center;
}

@media screen and (min-width: 768px) { 
    .modal:before {
      display: inline-block;
      vertical-align: middle;
      content: " ";
      height: 100%;
    }
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.modal-header {
    padding: 0;
    border-bottom: none;
    max-width: 100%;
}
.modal-header button.close {
    padding: 5px;
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    right: 0px;
    top: 3px;
    color: #333;
    z-index: 2;
    opacity: 0.85;
}
.modal-header button.close i {
    font-size: 30px;
}
.modal-header button.close:hover {
    opacity: 0.7;
}
.woocommerce__product_title {
    color: #2d2a2a;
    font-size: 30px;
    font-weight: 600;
}
.woocommerce__price, .woocommerce__price .amount {
    color: #9f0000;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 15px 0;
}
.product_meta>span {
    color: #333;
    font-weight: 600;
    font-size: 16px;
    display: block;
}
.product_meta>span span, .product_meta>span a {
    font-weight: 400;
    color: #333;
}
.product_meta {
    border-top: 1px solid #33333369;
    padding-top: 10px;
    margin-top: 10px;
}
.modal-content {
    border-radius: 0;
}
.modal-product-quickview {
    margin-left: 15px;
}
.woocommerce_single_product_summary {
    padding-top: 15px;
}
.wpgs-image .owl-nav button {
    position: absolute;
    top: 50%;
} 
.wpgs-image .owl-nav button.owl-prev {
    left: 0;
}
.wpgs-image .owl-nav button.owl-next {
    right: 0;
}
.woocommerce-product-gallery.images.wpgs-wrapper.wpgs-has-gallery-images {
    padding-bottom: 0;
    margin-bottom: 0;
}
.modal-quickview-link {
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    font-size: 16px;
    margin-top: 45px;
}
.owl-item.active .thumbnail_image:before {
    background: transparent !important;
}
